*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:#222;
}

.card{
    width: 90%;
    height: 50%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 8px 1000px 100px rgba(146, 132, 132, 0.3);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}
.search input{
    border:none;
    box-shadow: 8px 8px 30px 8px rgba(121, 0, 0, 0.3);
    outline:none;
    background: #ebfffc;
    color: #555;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    /* flex: 1; */
    width: 75%;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    box-shadow: 8px 8px 20px 8px rgba(121, 0, 0, 0.3);
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather{
    display: none;
}
.weather-icon{
    width: 170px;
    margin: 30px 0 20px 0;
}
.weather h1{
    font-size: 3.5rem;
    font-weight: 500;
}
.weather h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: -10px;
    color:#d1ede8;
    font-family:serif;
    margin-bottom: 2.5rem;
}
.sub-temp{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -0.4rem;
    margin-bottom: 1rem;
}
.details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: -1rem;
    gap: 2rem;
}
.details .reading{
    font-size: 120%;
}
.details .reading-title{
    width: 200%;
    font-weight: 700;
    font-size: 90%;
    color: #d1ede8;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap:5%
}

.col img{
    height: 2.5rem;
    width: 2.5rem;
}
.image-units{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.humidity,
.wind{
    font-size: 28px;
    font-weight: 600;
}

.city-not-found-error{
    display: none;
    margin-top: 20px;
}
